.groupCardWrapper {
    background-color: var(--color-grey-background);
    /* padding: var(--space-40) var(--space-32) var(--space-40) var(--space-32); */
    padding-left: var(--space-32);
    padding-right: var(--space-32);
    border-radius: 4px;
    height: 212.5px;
    width: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
}
