.logo, .logout {
    background: none;
    border: none;
    display: flex;
}

.username {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
}

.header {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--space-24);
    
}

.headerRight {
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

.pipe {
    background: var(--color-ink-primary);
    border-radius: 1px;
    width: 2px;
    height: 30px;
}