:root {
    --color-blue-primary: #3751ff;
    --color-blue-secondary: #1f3dff;

    --color-ink-primary: #212429;
    --color-ink-white: #ffffff;

    --color-grey-primary: #acb5bd;
    --color-grey-secondary: #dde2e5;

    --color-grey-background: #f8f9fa;
}
